:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 4px 4px rgb(0 0 0 / 0.5);
  --cream: #fce3c1;
  --shadow2: 0 4px 4px rgb(255, 255, 255);
  --ijo: #b0ba9f;
  --biru: #38587c;
  --orencream: #e0b27e;
  --font: #fff;
  --background-color: rgba(236, 240, 241, 0.7);
}

@import url("https://fonts.cdnfonts.com/css/uvf-aphrodite-pro");

body {
  font-family: "Times New Roman", serif;
  margin: 0;
  padding: 0;
  overflow: auto;
  min-height: 6000px;
}

/* PopUp */
.popup-container {
  background-image: url(./img/cover-popup.png);
  background-position: center;
  background-size: cover;
}

.popup-container {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  transition: transform 1s ease-in-out;
  z-index: 10;
}

.popup-content {
  text-align: center;
}

.popup-container.fade-out {
  transform: translateY(-100%);
}

.popup-content h2 {
  padding-top: 2rem;
  font-size: 1rem;
  font-family: "Times New Roman", serif;
  font-weight: 400;
  color: var(--font);
}

.popup-content h1 {
  margin: 0.5rem auto 0;
  font-size: 2.5rem;
  font-family: "UVF Aphrodite Pro", sans-serif;
  font-weight: 500;
  color: var(--font);
}

.popup-content p {
  margin-top: 0;
  font-size: 1rem;
  font-family: "Times New Roman", serif;
  color: var(--font);
}

.popup-content .kepada {
  padding-top: 20rem;
  color: var(--bg);
}

.enter-btn {
  width: 200px;
  height: 40px;
  font-family: "Times New Roman", serif;
  color: var(--font);
  background-color: rgb(9, 59, 30);
  box-shadow: var(--shadow);
  border-radius: 25px;
  font-size: 1rem;
}

.enter-btn:hover {
  background-color: var(--ijo);
  outline: none;
}

/* Hero */
#main-content {
  background-image: url(./img/cover-popup.png);
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

#main-content {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

/* .hero-content h2 {
  margin: 2rem auto 0.9rem;
  text-align: center;
  font-weight: 600;
} */

.hero-content h1 {
  text-align: center;
  font-size: 2.6rem;
  font-family: "UVF Aphrodite Pro", sans-serif;
  color: var(--font);
  padding-top: 0rem;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: 500;
}

.hero-content p {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0;
  color: var(--font);
}

#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#hero {
  background-image: url(./img/foto-halaman2.png);
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.hero-container {
  display: block;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.hero-container h1 {
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
}

.hero-container .save {
  font-family: "UVF Aphrodite Pro", sans-serif;
}

.area-1 {
  position: relative;
  width: 80%;
  height: 250px;
  background-color: rgba(236, 240, 241, 0.5);
  border-radius: 40px;
  margin: 2rem 2rem;
  color: var(--font);
}

.area-1 h1 {
  padding-top: 2.5rem;
  font-size: 2rem;
  margin: 1rem auto 1rem;
  text-align: center;
}

.area-1 h2 {
  font-size: 1.5rem;
  margin: 1rem auto 1rem;
  text-align: center;
}

.area-1 h4 {
  font-size: 1.2rem;
  text-align: center;
  margin: 0.5rem auto 0.5rem;
}

/* Home Mempelai*/
#home {
  background-image: url("./img/foto-halaman1.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.home-container-1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.container-1 {
  display: flex;  
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  position: relative;
  margin: 10px;
  width: 85px;
  min-height: 100vh;
  box-shadow: var(--shadow);
  border-radius: 20px;
}

.container-1 h1 {
  writing-mode: sideways-lr;
  font-size: 2rem;;
}

.home-container-2 {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--background-color); */
}

.container-2 { 
  background-color: var(--background-color);
  position: relative;
  width: 260px;
  margin: 10px;
  height: 110px;
  box-shadow: var(--shadow);
  border-radius: 10px;
}

.container-2 h1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  margin: 0.3rem;
}

.container-2 p {
  font-size: 1rem;
  text-align: center;
  margin: 0.3rem;
}

.container-3 {
  justify-content: center;
  position: relative;
  margin: 10px;
  height: 430px;
  width: 260px;
} 

.container-3 .photo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 300px;
  border: 7px solid var(--ijo);
  border-radius: 50px;
  overflow: hidden;
}

.container-3 .photo-container img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-3 h1 {
  text-align: center;
  font-size: 2rem;
  padding: 0 0.2rem;
  margin: 0;
}

.container-3 p {
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
}

.container-3 .bi {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5 auto;
  padding: 0;
  cursor: pointer;
  color: black;
}

.container-3 a {
  text-decoration: none;
}

.container-3 .bi:hover {
  color: var(--pink);
}

/* Surat */
#surat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.surat {
  background-color: #c7cccc;
}

.surat p {
  text-align: center;
  font-size: 1.2rem;
  border: 2px solid var(--background-color);
  padding: 5px 5px;
  margin: 10px 10px;
  font-weight: 100;
}

/* Section Akad */
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  height: auto;
}

.acara-1 {
  margin: 20px auto;
}

.acara-2 {
  margin: 20px auto;
}

.box-1 {
  width: 300px;
  height: 300px;
  border-radius: 150px 0 0 0 ;
  overflow: hidden;  
}

.box-1 img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.box-2 {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 30px 30px;
  overflow: hidden;
}


.detail-1 .akad {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 300px;
  background-color: var(--font);
}

.detail-1 {
  display: flex;
}

.detail-2 {
  text-align: center;
  background-color: var(--font);
}

.vertical-line {
  width: 5px;
  height: 300px;
  background: #000;
}

.line {
  margin: auto;
  padding-left: 100px;
  width: 40px;
  height: 2.5px;
  background: #000;
}

.box-2 .detail-1 h1 {
  writing-mode: sideways-lr;
  font-size: 2rem;
}

.detail-2 .rabu {
  font-size: 2rem;
  margin: 1rem;
  font-weight: 400;
}

.detail-2 .tgl {
  font-size: 3rem;
  margin: 0.5rem;
  font-weight: 700;
  line-height: 3rem;
}

.detail-2 .bulan {
  font-size: 1.3rem;
  margin: 1rem;
}

.detail-2 p {
  font-size: 19px;
}

/* Galeri
#galeri {
  background-image: url(./img/bg-galeri.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

#galeri {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.galeri {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.galeri img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;  
  object-fit: cover;
  transition: 300ms ease-in-out;
}

.galeri img:hover {
  transform: scale(1.05);
} */

/* Story */
/* #story {
  background-image: url("./img/foto-halaman3.png"); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  padding-top: 0;
} */

/* .story-box {
  background-color: rgba(236, 240, 241  , 0.5);
  opacity: 50%;
  width: 80%;
}

.story-box h1 {
  text-align: center;
  
} */
