:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 4px 4px rgb(0 0 0 / 0.5);
  --cream: #fce3c1;
  --shadow2: 0 4px 4px rgb(255, 255, 255);
  --ijo: #b0ba9f;
  --biru: #38587c;
  --orencream: #e0b27e;
  --font: #fff;
  --background-color: rgba(236, 240, 241, 0.7);
}

@import url("https://fonts.cdnfonts.com/css/uvf-aphrodite-pro");

@import url("https://fonts.cdnfonts.com/css/boheme-floral");

body {
  font-family: "Times New Roman", serif;
  margin: 0;
  padding: 0;
  overflow: auto;
}

/* PopUp */
.popup-container {
  background-image: url(./img/cover-popup.png);
  background-position: center;
  background-size: cover;
}

.popup-container {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  transition: transform 1s ease-in-out;
  z-index: 10;
}

.popup-content {
  text-align: center;
}

.popup-container.fade-out {
  transform: translateY(-100%);
}

.popup-content h2 {
  padding-top: 2rem;
  font-size: 1rem;
  font-family: "Times New Roman", serif;
  font-weight: 400;
  color: var(--font);
}

.popup-content h1 {
  margin: 0.5rem auto 0;
  font-size: 2.5rem;
  font-family: "UVF Aphrodite Pro", sans-serif;
  font-weight: 500;
  color: var(--font);
}

.popup-content p {
  margin-top: 0;
  font-size: 1rem;
  font-family: "Times New Roman", serif;
  color: var(--font);
}

.popup-content .kepada {
  padding-top: 20rem;
  color: var(--bg);
}

.enter-btn {
  width: 200px;
  height: 40px;
  font-family: "Times New Roman", serif;
  color: var(--font);
  background-color: rgb(9, 59, 30);
  box-shadow: var(--shadow);
  border-radius: 25px;
  font-size: 1rem;
}

.enter-btn:hover {
  background-color: var(--ijo);
  outline: none;
}

/* Hero */
#main-content {
  background-image: url(./img/cover-popup.png);
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

#main-content {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.hero-content h1 {
  text-align: center;
  font-size: 2.6rem;
  font-family: "UVF Aphrodite Pro", sans-serif;
  color: var(--font);
  padding-top: 0rem;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: 500;
}

.hero-content p {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0;
  color: var(--font);
}

/* Home Mempelai*/
#home {
  background-image: url("./img/foto-halaman1.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: inline-block;
  width: 100%;
}

.home-container-1 {
  display: flex;
  width: 100%;
}

.container-1 {
  background-color: var(--background-color);
  width: 80%;
  box-shadow: var(--shadow);
  border-radius: 20px;
  float: right;
}

.container-2 .detail-container-2 h1 {
  writing-mode: sideways-lr;
  font-size: 2rem;
}

.container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  width: 20%;
  border-radius: 20px;
  box-shadow: var(--shadow);
}

.container-1 h1 {
  font-size: 1.7rem;
  text-align: center;
  font-weight: 600;
  margin: 0.3rem;
}

.container-1 p {
  font-size: 1rem;
  text-align: center;
  margin: 0.3rem;
}

.container-3 {
  margin: 1rem auto;
  width: 100%;
}

.container-3 .photo-container {
  margin: auto;
  width: 240px;
  height: 300px;
  border: 7px solid var(--ijo);
  border-radius: 50px;
  overflow: hidden;
}

.container-3 .photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-3 h1 {
  text-align: center;
  font-size: 2rem;
  padding: 0 0.2rem;
  margin: 0;
}

.container-3 p {
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
}

.container-3 .ig {
  width: 50px;
  height: 35px;
  background-color: var(--background-color);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  text-decoration: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.container-3 .bi {
  cursor: pointer;
  color: black;
}

.container-3 .ig:hover {
  background-color: var(--ijo);
}

/* Surat */
#surat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.surat {
  background-color: #c7cccc;
}

.surat p {
  text-align: center;
  font-size: 1.2rem;
  border: 2px solid var(--background-color);
  padding: 5px 5px;
  margin: 10px 10px;
  font-weight: 100;
}

/* Section Akad */

#hero {
  background-image: url(./img/foto-halaman1.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.acara-1 {
  margin: 20px auto;
}

.acara-2 {
  margin: 20px auto;
}

.box-1 {
  width: 300px;
  height: 300px;
  border-radius: 150px 0 0 0;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.box-1 img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.box-2 {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 30px 30px;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.detail-1 .akad {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  background-color: var(--font);
}

.detail-1 {
  display: flex;
}

.detail-2 {
  text-align: center;
  background-color: var(--font);
}

.vertical-line {
  width: 5px;
  height: 100%;
  background: #000;
}

.line {
  margin: auto;
  padding-left: 100px;
  width: 40px;
  height: 2.5px;
  background: #000;
}

.box-2 .detail-1 h1 {
  writing-mode: sideways-lr;
  font-size: 2rem;
}

.detail-2 .rabu {
  font-size: 2rem;
  margin: 1rem;
  font-weight: 400;
}

.detail-2 .tgl {
  font-size: 3rem;
  margin: 0.5rem;
  font-weight: 700;
  line-height: 3rem;
}

.detail-2 .bulan {
  font-size: 1.3rem;
  margin: 1rem;
}

.detail-2 p {
  font-size: 19px;
  margin: 0.5rem auto 0.7rem;
}

.box-3 {
  width: 300px;
  height: 300px;
  border-radius: 0 150px 0 0;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.box-3 img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.acara-2 .box-2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background-color: var(--background-color);
  margin: 1rem auto;
  padding: 0.1rem 0.7rem;
  border-radius: 30px;
  color: black;
  text-decoration: none;
}

.acara-2 .box-2 a:hover {
  background-color: var(--ijo);
}

.acara-1 .box-2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background-color: var(--background-color);
  margin: 1rem auto;
  padding: 0.1rem 0.7rem;
  border-radius: 30px;
  color: black;
  text-decoration: none;
}

.acara-1 .box-2 a:hover {
  background-color: var(--ijo);
}

/* Galeri */
#galeri h1 {
  background-color: var(--background-color);
  text-align: center;
  font-size: 2.5rem;
  font-family: "UVF Aphrodite Pro", sans-serif;
  margin: 0 auto;
}

.galeri-container {
  width: 100%;
  margin: 0;
}

.galeri-container .img1 {
  width: 100%;
  height: 100%;
}
.galeri-container .img2 {
  width: 50%;
  height: 100%;
  float: right;
  margin: 0;
}
.galeri-container .img3 {
  width: 50%;
  height: 100%;
  margin: 0;
}
/* Story */
/* #story {
  background-color: var(--background-color);
} */

#story .judul-love-story {
  background-color: var(--background-color);
  text-align: center;
  font-size: 2.5rem;
  font-family: "UVF Aphrodite Pro", sans-serif;
  margin: 0 auto;
}

.story-container .img-kiri {
  width: 35%;
  height: 100%;
  margin: 1.5rem auto;
  margin-left: 1.5rem;
  border: 7px double var(--ijo);
  border-radius: 0 120px 0 70px;
}
.story-container .img-kanan {
  width: 35%;
  height: 100%;
  margin: 1.5rem auto;
  margin-right: 1.5rem;
  border: 7px double var(--ijo);
  float: right;
  border-radius: 120px 0 70px 0;
}

.story-text h1 {
  font-size: 1.5rem;
  text-align: center;
  font-family: "UVF Aphrodite Pro", sans-serif;
  margin: 0.5rem auto;
}

.story-text p {
  font-size: 1.2rem;
  text-align: center;
  margin: auto 1.5rem;
  margin-bottom: 2rem;
}

/* Wedding Gifts */
#gift {
  margin: auto;
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--background-color);
}

.gift h1 {
  margin: 0 auto;
  padding: 2rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

.gift p {
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  padding-top: 0;
}

.box-atm-1 {
  background-color: var(--background-color);
  box-shadow: var(--shadow);
  border-radius: 30px;
  margin: 0.5rem auto 1rem;
  width: 70%;
  height: 100%;
  padding: 1rem;
}

.box-atm-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.box-atm-1 P {
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}

.box-atm-1 .nama {
  font-size: 2rem;
}

.box-atm-1 .btn {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
  width: 60%;
  height: 50px;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
}

.box-atm-1 .bi {
  margin: auto 0.3rem;
}

.box-atm-1 .btn:hover {
  background-color: var(--ijo);
}

/* RSVP */
#rsvp {
  width: 100%;
  display: flex;
  margin: 3rem auto;
}

.komen-container {
  width: 90%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 30px;
  margin: auto;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin: 1.2rem 1.2rem;
}

.title-line {
  text-align: center;
  font-size: 1.2rem;
  margin: auto 1rem 2rem;
}

.form-group label {
  display: block;
  justify-content: center;
  margin: 5px auto;
  width: 80%;
}

.form-group input,
textarea {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 14px;
  border-radius: 10px;
  margin: 1rem auto;
  font-size: 1rem;
}

.form-group textarea {
  resize: none;
}

.form-group select {
  display: block;
  margin: 1rem auto;
  width: 85%;
  padding: 14px;
  border-radius: 10px;
}

.rsvp .btn-submit {
  display: block;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 15px;
  border-radius: 10px;
  margin-left: 2rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* Closing */
#closing {
  width: 100%;
  background-image: url(./img/foto-halaman1.png);
  background-position: center;
  background-size: cover;
  height: 100%;
  padding-top: 2rem;
}

.closing .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 300px;
  border: 5px solid var(--ijo);
  box-shadow: var(--shadow);
  border-radius: 0 150px 0 150px;
  overflow: hidden;
  margin: auto;
}

.closing .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-closing h1 {
  text-align: center;
  font-size: 5rem;
  font-family: "Boheme Floral";
  font-weight: 400;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 1rem auto;
}

.detail-closing p {
  text-align: center;
  font-size: 1.2rem;
  margin: 1rem;
  margin-bottom: 0;
  padding-bottom: 2rem;
}

/* Footer */
footer {
  width: 100%;
  background-color: var(--background-color);
}

.footer-icon {
  padding: 1.5rem;
}

.footer-icon a {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem;
}

.footer-icon .block {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.7rem;
}

.footer-icon .block span {
  color: #3498db;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 2px;
  padding: 0;
  margin: 0;
}

.social-icons img {
  width: 30px;
  height: 30px;
}
